html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }
  #mainContent img, #mainContent div {
    position: absolute; }

.hide {
  opacity: 0; }

#bieberBg {
  top: 0px;
  left: -13px; }

#bieber {
  top: 0px;
  left: 97px; }

#bieberBgBlur {
  top: 0px;
  left: -13px; }

#bieberBlur {
  top: -140px;
  left: 47px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.drop, .drop1 {
  width: 15px;
  height: 20px;
  border-radius: 50%;
  background-image: url("../img/drop.png");
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transform: rotate(180deg) rotateY(0);
  transform: rotate(180deg) rotateY(0); }

.drop1 {
  background-image: url("../img/drop1.png"); }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px; }
