@import "_settings";
@import "_config";
@import "_mixins";

body {
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#mainContent {
    position: relative;

    width: $width;
    height: $height;
    overflow: hidden;
    box-sizing: border-box;

    cursor: pointer;
    transform: rotate(0deg);

    border: 1px solid black;
    background: $backgroundColor ;
    background-size: cover;

    img,div {
        position: absolute;
    }
}


.hide{
    opacity:0;
}


#bieberBg{
    top: 0px;
    left: -13px;
}

#bieber{
top: 0px;
left: 97px;
}

#bieberBgBlur{
    top: 0px;
    left: -13px;
}

#bieberBlur{
top: -140px;
left: 47px;
transform: scale(0.8);
}



.drop,.drop1{
    width:15px;
    height:20px;
    border-radius:50%;
    background-image:url("../img/drop.png");
    filter: blur(1px);
    transform:rotate(180deg) rotateY(0);
}

.drop1{
    background-image:url("../img/drop1.png");
}


#bgExit {
    position: absolute;
    top: 0;
    left: 0;

    width: $width;
    height: $height;
}
